<a href="https://colab.research.google.com/github/AngelikaBaloy/scratchpad/blob/main/DS3001_2_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
2.5
```

In [1]:
! git clone https://github.com/AngelikaBaloy/scratchpad
%run ./scratchpad/get_data.py

Cloning into 'scratchpad'...
remote: Enumerating objects: 52, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (11/11), done.
remote: Total 52 (delta 12), reused 7 (delta 7), pack-reused 34 (from 1)
Receiving objects: 100% (52/52), 730.42 KiB | 4.62 MiB/s, done.
Resolving deltas: 100% (20/20), done.
Downloading course data...
Download complete
Extracting data files...
Data extracted

KNN again

In [3]:
import numpy as np

In [2]:
import pandas as pd

df= pd.read_csv("/content/data/diabetes-dataset.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0

In [4]:
np.sum(df.isna(), axis=0)

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [9]:
y = df['Outcome']

vars = ['Glucose', 'BMI', 'Insulin']

x = df.loc[:, vars]
x.describe()

           Glucose          BMI      Insulin
count  2000.000000  2000.000000  2000.000000
mean    121.182500    32.193000    80.254000
std      32.068636     8.149901   111.180534
min       0.000000     0.000000     0.000000
25%      99.000000    27.375000     0.000000
50%     117.000000    32.300000    40.000000
75%     141.000000    36.800000   130.000000
max     199.000000    80.600000   744.000000

In [10]:
def maxmin(x):
  u = (x-min(x))/(max(x)-min(x))
  return u

In [15]:
from sklearn.neighbors import KNeighborsClassifier

In [14]:
u = x.apply(maxmin)
u.describe()

           Glucose          BMI      Insulin
count  2000.000000  2000.000000  2000.000000
mean      0.608957     0.399417     0.107868
std       0.161149     0.101115     0.149436
min       0.000000     0.000000     0.000000
25%       0.497487     0.339640     0.000000
50%       0.587940     0.400744     0.053763
75%       0.708543     0.456576     0.174731
max       1.000000     1.000000     1.000000

In [18]:
from sklearn.model_selection import train_test_split

u_train, u_test, y_train, y_test = train_test_split(u,y, test_size=.2, random_state=100)

k_grid = [(2*k+1) for k in range(100)] # want odd to eliminate possiblility of ties

for k in k_grid:
  acc = []
  model = KNeighborsClassifier(n_neighbors=k)
  model = model.fit(u_train, y_train)
  y_hat = model.predict(u_test)
  acc.append(model.score(u_test, y_test))

In [ ]:
import seaborn as sns

sns.lineplot(x=k_grid, y=acc)

KNN Regression
- mean square error & residuals as substitute for confusion matrices

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

u_train, u_test, y_train, y_test = train_test_split(u,y, test_size=.2, random_state=100)

k_grid = [(2*k+1) for k in range(100)] # want odd to eliminate possiblility of ties

for k in k_grid:
  loss = [] # not acc
  model = KNeighborsRegressor(n_neighbors=k)
  model = model.fit(u_train, y_train)
  y_hat = model.predict(u_test)
  loss.append(mse(u_test, y_test))

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

y = np.asarray(y)
y_hat = np.asarray(y_hat)

# Perfect prediction line
lo = np.min([y.min(), y_hat.min()])
hi = np.max([y.max(), y_hat.max()])
plt.plot([lo, hi], [lo, hi], linestyle='--', label='y = ŷ')

# Data points
plt.scatter(y_hat, y_test, label='(ŷ, y)')

# Residuals: vertical lines y_i - y_hat_i
for a, b in zip(y_hat, y_test):
    plt.vlines(a, a, b, color='red', linewidth=.5)

plt.xlabel("Predicted ŷ")
plt.ylabel("Actual y")
plt.title("Residuals (r = y − ŷ)")
plt.legend()
plt.gca().set_aspect('equal', adjustable='box')
plt.show()

In [ ]:
def mse(y_test,y_hat):
    mse = np.sum( (y_test - y_hat) ** 2 )/len(y_test)
    return mse
# or from sklearn.metrics import mean_squared_error

Linear regression